In [22]:
import pandas as pd

# Step one
## Data collection

In [23]:
dataSet = pd.read_csv('50_Startups.csv')

In [24]:
dataSet.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

##### The state column is category type and is have nominal data type.
##### Thats only we change the into one hot encoding

In [25]:
dataSet = pd.get_dummies(dataSet, drop_first = True)

In [26]:
dataSet.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

# Step two
## Input and output

In [32]:
dataSet.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [35]:
#input
inDependent = dataSet[['R&D Spend', 'Administration', 'Marketing Spend','State_Florida', 'State_New York']]
#output
dependent = dataSet[['Profit']]

# Step three
## split the train and test

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
xTrain, xTest, yTrain, yTest = train_test_split(inDependent, dependent, test_size = 0.3, random_state = 0)

# Step four

## train the model

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
regressor = LinearRegression()
regressor.fit(xTrain, yTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [50]:
weight = regressor.coef_
weight

array([[7.90840255e-01, 3.01968165e-02, 3.10148566e-02, 4.63028992e+02,
        3.04799573e+02]])

In [52]:
bais = regressor.intercept_
bais

array([42403.87087053])

# step five 

## prediction the test

In [53]:
yPred = regressor.predict(xTest)

# Step six
## good or bad model check

In [55]:
from sklearn.metrics import r2_score

In [56]:
rScore = r2_score(yTest, yPred)

In [57]:
rScore

0.9358680970046243

# Step seven
## Save the model

In [59]:
import pickle

In [60]:
fileName = 'profitPrediction.sav'

In [61]:
pickle.dump(regressor, open(fileName, 'wb'))

# step eight
## load the model and run the model

In [62]:
loadedModel = pickle.load(open('profitPrediction.sav', 'rb'))

In [67]:
result = loadedModel.predict([[1234, 345, 4567, 1, 0]])

In [68]:
result

array([[43994.85948844]])